.App {
  display: flex;
  flex-direction: column;
  min-width: 20em;
  max-width: 28em;
  margin: auto;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  background-color: #3f51b5;
  color: #fff;
  height: 2em;
  font-size: 2em;
  padding: 0.5em;
}

.item {
  display: flex;
  justify-content: space-between;
  border:1px #ccc solid;
  padding: 1.2em;
  background-color: #fff;
}

.item-text {
  display: flex;
  word-break: break-all;
  max-width: 16em;
  color: #212121;
}

.item-done {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border:1px #ccc solid;
  background-color: #bdbdbd;
  font-size: 1em;
  padding: 1.2em;
  text-decoration: line-through;
  color: #757575;
}

.edit-bar {
  width: 4em;
  height: 1.6em;
}

.task-list-button {
  width: 1.3em;
  height: 1.3em;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.task-list-button:hover {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.task-edit-button {
  float: left;
  width: 1.3em;
  height: 1.3em;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.task-edit-button:hover {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.task-clear-button {
  float: right;
  width: 1.3em;
  height: 1.3em;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.task-clear-button:hover {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.input-item {
  border:1px #ccc solid;
  font-size: 1em;
  padding: 1.2em;
}

.input-item:hover {
  color: #212121;
  border-bottom: 3px #3f51b5 solid;
 }

 .edit-item {
  border:1px #ccc solid;
  color: #212121;
  font-size: 1em;
  padding: 1.2em;
  box-shadow: 0 0 1em rgba(0,0,0,0.5);
  z-index: 3;
}

.edit-item:hover {
  border-bottom: 0.3em #3f51b5 solid;
}

.edit-item ~.blockpage {
  visibility: visible;
  background:rgba(184, 183, 183, 0.5);
}

.blockpage {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-attachment: fixed;
  background-position: center;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}